
*{
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 8% 92%;
    grid-template-rows: 10% 90%;
}
header{
    grid-column: 1/2;
    grid-row: 1/ span 2;
    background-color: black;
    display:flex;
}
nav{
    width:auto;
}
nav ul{
    height:auto;
    display:flex;
}
nav img{
    width:7.1rem;
    height:4.9rem;
}

.header{
    grid-column: 2/3;
    grid-row: 1/2;
    
    background-color:crimson;
}

ul{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
li{
    
    font-size: 2rem;

}
 li i{
    display: block;
    width:4rem;
    height: 4rem;
} 

section{
    grid-column: 2/3;
    grid-row: 2/3;
    overflow-y: scroll;
    scroll-behavior: smooth;
}






tr{
    background-color: white;
   
}
td,tr{
    padding: 1px
}
#tache{
    text-align: center;
     
}
#travailleur{
    text-align: center;
    display: none;
}
table{
    font-size: 0.9rem;
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
}


fieldset{
    width: 7rem;
    height: 3.8rem;
    padding-bottom: 2rem;

}

fieldset div{
    margin-top: 0.5rem;
}